body {
    color: #434455;
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
}

ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
.header {
    display: flex;
    width: 1440px;
    height: 72px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}
.header-nav {
    display: inline-flex;
    align-items: flex-start;
    gap: 40px;
}
.header-logo-web {
    color: var(--IRIS, #4D5AE5);
        font-family: Raleway;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.16;
        letter-spacing: 0.33em;
        text-transform: uppercase;
}
.header-logo-studio{
    color: #2E2F42);
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 0.33em;
    text-transform: uppercase;
}

.button-text {
    color: #FFF;
    font-family: 'Roboto',sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4D5AE5;
    cursor: pointer;
}
.button: hover; 
.button: focus {
    background-color: #404BBF;
}
.item-title {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.item-text {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}
.mail-item:hover,
.mail-item:active,
.mail-item:focus {
    color: #404BBF;
}
.link-hdr:hover,
.link-hdr:active,
.link-hdrk:focus {
    color: #404BBF;
}
.link-studio {
    text-decoration: none;
        color: #2E2F42;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.32px;
        font-style: normal;
}
.link-hdr:hover,
.link-hdr:active,
.link-hdrk:focus {
    color: #404BBF;
}
.mail-item {
    text-decoration: none;
        color: #434455;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.32px;
}
.span-blue {
    color: #4D5AE5;
}
.header-nav-link {
    font-size: 16px;
    font-weight: 500;
    line-heigt: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.address-link {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    font-style: normal;
}
.address {
    font-style: normal;
}
.address-link:hover,
.address-link:focus,
.header-nav-link:hover,
.header-nav-link:focus {
    color: #404BBF;
}
